<div class="container">
  <mat-card class="full-size-box h-100">
  <div class="title-header">
      {{
      selectedEntity?.name
      ? selectedEntity?.name + " (Sl# " + selectedEntity.id + ")"
      : "Not Available"
      }}
  </div>
  <mat-accordion class="scrollable-y">
    <mat-expansion-panel #details expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>Details</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="details.expanded && selectedEntity && selectedEntityDefinition">
            <app-entity-details-wrapper [selectedEntity]="selectedEntity"
                [selectedEntityDefinition]="selectedEntityDefinition" (navigatedToOtherEntity)="navigatedToOtherEntity($event)" (edited)="edited()"
                 [platformBasedAttributeVisibilityKey]="'mobileVisible'"></app-entity-details-wrapper>
        </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel #attributes>
        <mat-expansion-panel-header>
            <mat-panel-title>Attributes</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="attributes.expanded && selectedEntity && selectedEntityDefinition">
            <app-entity-attributes [selectedEntity]="selectedEntity"
                [selectedEntityDefinition]="selectedEntityDefinition" [platformBasedAttributeVisibilityKey]="'mobileVisible'"></app-entity-attributes>
        </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel #documents>
        <mat-expansion-panel-header>
            <mat-panel-title>Documents</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="documents.expanded && selectedEntity && selectedEntityDefinition">
            <app-documents [selectedEntity]="selectedEntity"
                [selectedEntityDefinition]="selectedEntityDefinition"></app-documents>
        </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel #children>
        <mat-expansion-panel-header>
            <mat-panel-title>Children</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="children.expanded && selectedEntity && selectedEntityDefinition">
            <app-entity-equipment-children-wrapper [selectedEntity]="selectedEntity" (navigatedToOtherEntity)="navigatedToOtherEntity($event)"></app-entity-equipment-children-wrapper>
        </ng-container>
    </mat-expansion-panel>
    
    <mat-expansion-panel #movementHistory>
        <mat-expansion-panel-header>
            <mat-panel-title>Movement History</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="selectedEntity && movementHistory.expanded">
            <app-entity-movement-history [selectedEntity]="selectedEntity"></app-entity-movement-history>
        </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel #tickets>
        <mat-expansion-panel-header>
            <mat-panel-title>Tickets</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="selectedEntity && tickets.expanded">
            <app-entity-tickets [selectedEntity]="selectedEntity" (navigatedToOtherEntity)="navigatedToOtherEntity($event)"></app-entity-tickets>
        </ng-container>
    </mat-expansion-panel>

</mat-accordion>
</mat-card>